body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    color:crimson;
    


}

.container{
    background-color: gray;
    border: black;
    border-radius: 2px;
    
}