body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    color:crimson;
    


}

.container{
    
   
    
    border-color: black;
    
    border-top-color: #CC0000;
    border-right-color: blue;
    border-bottom-color: #00FF00;
    border-left-color: #CCC;
}


#cabecera{
  background-color: blue;
}
